    			<div class="menu span-11">
    				<div class="title span-4">
    					<img src="/images/logotest.png" alt="Paloma-pizza"/>
    				</div>
    				<div class="title last span-7">
    					<h1 class="titre">Paloma-pizza.fr</h1>
    				</div>
    			</div>
    			<div class="menu span-12 last">{{ knp_menu_render('SiteHomeBundle:MainBuilder:build') }}
    				<div class="telephone">01.60.34.31.55</div>
    			</div>