@import "fonctions.less";

body {
	background: #D1C07A;
	background-repeat: repeat-x;
}

body, h3, h1 {
	color: white;
}

a {
	text-decoration: none;
}

img#google-map {
	border: solid lightgrey 5px;
}

div.referencement ul li {
	list-style: none;
}

div.referencement ul li a {
	color: transparent;
	text-decoration: none;
}

img.srcshot {
	border: solid white 5px;
}

img.lightsrcshot {
	border: solid white 2px;
	box-shadow: 1px 1px 5px black;
}

div#conteneur-bandeau p {
	margin: 0 0 0;
}
div#bandeau {
	
}

div#notice {
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 100;
	border-bottom-left-radius: 5px;
	border-top: none;
	border-right: none;
}

div#notice ul {
	padding: 0px;
	margin: 0px;
}

div#notice ul li {
	list-style: none;
	font-weight: bold;
	font-size: 15px;
}

div#presentation-home {
	color: white;
	font-size: 13px;
}

div#presentation-home:first-letter {
	font-size: 19px;
	font-weight: bold;
	color: black;
	padding-right: 2px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px white;
}

h3 {
	border-bottom: solid gray 2px;
	padding: 2px;
}

div#page {
	margin: auto;
	background-repeat: no-repeat;
}

div#header {
	background: #f82023;
	height: 100px;
	margin-bottom: 1px;
}
.titre {
	margin-top: 30px;
	margin-left: 5px;
}
div#body {
	border-top: 3px solid #b55f10;
	margin-top: 1px;
}
div#body-content {
	margin-top: 0px;
}
div#footer {
	min-height: 312px;
	padding-top: 15px;
	background-image: url('/images/bg_footer.jpg');
}

.ui-corner-bandeau {
	margin-top: 0px;
}

.ui-corner-all {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div#header h1.title {
	padding: 5px
}

div#header div.menu ul {
	overflow: hidden;
	margin-top: 1px;
}

div#header div.menu ul li {
	float: left;
	list-style: none;
}

div#header div.menu ul li a {
	text-decoration: none;
	color: #902707;
	background: white;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	font-size: 13px;
	text-shadow: 1px 1px 1px black;
}

div#header div.menu ul li:hover > a, div#header div.menu ul li.current > a {
	background: lightgreen;
	color: white;
}

div#header {
	position: relative;
	z-index: 1000;
}

div#header div.menu ul li ul {
	z-index: 10;
	position: relative;
	left: 0px;
	top: -10px;
	display: none;
	background: white;
	padding-left: 30px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: solid #902707 2px;
}

div#header div.menu ul li:hover ul {
	display: block;
}

div#header div.menu ul li ul li {
	float: none;
	background: #902707;
	list-style-image: url('/images/puce.gif')
}

div#header div.menu ul li ul li a {
	color: white;
	text-shadow: none;
}

div#header div.telephone {
	color: white;
	font-weight: bold;
	font-size: 20px;
	float: right;
	margin-right: 5px;
}

/* Slider */

div.slides_container, div.slides {
	height: 250px;
	width: 950px;
}

/* #email-link */
div#footer-real {
	position: relative;
}

div#footer-real p.text-centered {
	text-align: center;
}

p#email-link {
	position: absolute;
	right: 0px;
	top: 0px;
}

p#email-link a {
	color: transparent;
	font-size: 15px;
}


p#email-link a:hover {
	color: white;
}

div#page {
	background: white;
}
/*
 * Les positionnement titres premiere page(index)
 */

/*
 * La présentation du plan
 */
	.cadrageplan {
		padding-top: 50px;
	}
/*
 * La Description du lieu
 */
	div.parctexte {
		font-style: italic;
	}
/*
 * L'Affichage administratif
 */
	div.admin {
		padding: 5px;
		color: lightgrey;
		text-transform: uppercase;
		font-weight: bolder;
		
	}
	div.art {
		padding: 10px;
		color: red;
	}
	div.art p.artdetail {
		padding: 10px;
		text-shadow: 1px 1px 2px darken(@rouge, 30%);
		display: block;
	}
	div.expo {
		padding: 15px;
		color: blue;
	}
	div.expo p.expodetail {
		padding: 5px;
		text-shadow: 1px 1px 2px darken(@blue, 20%);
	}
	div.conf {
		padding: 10px;
		color: brown;
	}
	div.conf p.confdetail {
		padding: 15px;
		text-shadow: 1px 1px 2px darken(@brown, 50%);
	}
/* Menu compatible sub-menu */
	div.menu li {
		list-style: none;
	}

	div.menu > ul > li {
		float: left;
		position: relative;
	}
	
	div.menu > ul > li ul {
		position: absolute;
		top: 28px;
		left: 0px;
		width: 150px;
		padding: 0px;
		display: none;
	}
	
	div#body-content {
		min-height: 600px;
	}
	
	div.menu > ul > li:hover ul {
		display: block;
	}
	
	div.menu a {
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
		display: block;
		text-decoration: none;
		font-weight: bold;
		text-transform: uppercase;
		background: black;
		color: white;
	}
	
	div.menu a:hover{
		background: white;
		color: black;
	}

/*
 *  Les formulaire
 */

fieldset {
	padding: 0px;
	border: none;
	border-top: solid black 2px;
}

fieldset legend {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}


form div div, form p {
	overflow: hidden;
	text-align: left;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

form div div label, form p label {
	text-align: right;
	padding-right: 10px;
	display: block;
	width: 100px;
	float: left;
}

form div div:hover label::before, form p:hover label::before {
	content: ">> ";
}


form div div:hover , form p:hover {
	background: black;
	color: white;
}

input, textarea {
	margin: 0px !important;
	padding: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

textarea {
	height: 100px;
}

form div div:hover input, form div div:hover textarea, form p:hover input, form p:hover textarea {
	border-color: white;
}

input[type=submit]
{
	float: right;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background: black;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	border: solid gray 2px;
}

input[type=submit]:hover {
	cursor: pointer;
	border: solid black 2px;
	background: gray;
	color: white;
}



input[type=text],
input[type=password]{
	background: rgba(255, 255, 255, 0.9);
	background:-moz-linear-gradient(90deg, #fff, #eee); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff), color-stop(0.2, #fff)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:5px;
}
input[type=text]:focus,
input[type=password]:focus{
	border-color:#093c75;
	outline:none; /* Pour enlever le contour jaune lorsque l'on sÃ©lectionne un input dans Chrome */
}

input[type=submit],
.submit{
	background:orange;
	background:-moz-linear-gradient(90deg, #0459b7, #08adff); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#08adff), to(#0459b7)); /* Webkit */
	border:1px solid #093c75;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 1px 0 #fff;
	-webkit-box-shadow:0 1px 0 #fff;
	color:#fff;
	cursor:pointer;
	font-family:Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	margin-left:120px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0 1px 1px #333;
	text-transform:uppercase;
}

input[type=submit]:hover,
a.submit:hover{
	background:#eee;
	background:-moz-linear-gradient(90deg, #067cd3, #0bcdff);
	background:-webkit-gradient(linear, left top, left bottom, from(#0bcdff), to(#067cd3));
	border-color:#093c75;
	text-decoration:none;
}
input[type=submit]:active,
input[type=submit]:focus,
a.submit:active,
a.submit:focus{
	background:#ccc;
	background:-moz-linear-gradient(90deg, #0bcdff, #067cd3);
	background:-webkit-gradient(linear, left top, left bottom, from(#067cd3), to(#0bcdff));
	border-color:#093c75;
	outline:none;
}



/* Les tableau */

table {
	border: solid black 2px;
	margin: auto;
}

table tr td, table tr th {
	padding: 5px;
	text-align: center;
}

table tr, table tr a {
	background: gray;
	color: lightgray;
}

table tr:nth-child(odd), table tr:nth-child(odd) a {
	background: lightgray;
	color: gray;
}

table tr:hover, table tr:hover a {
	cursor: pointer;
	background: white; 
	color: gray;
}

/*  Les articles de la carte (carte.css)   */
div.list h2.title {
	color: black;
	font-weight: bold;
}
div.list div.content {
	padding: 5px;
	color: black;
	font-family: Helvetica;
}
div.list div.block.item {
	position: relative;
	padding: 5px;
}
div.list div.item div.block-content {
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: black;
	font-family: Helvetica;
}
div.list div.item div.block-content ul {
	display: block;
	position: absolute;
	right: 5px;
	top: 5px;
	overflow: hidden;
}
div.list div.item div.block-content p {
	font-size: 15px;
	
}

div.list div.item.impaire {
	background-color: #f7e7b7;
}

div.list div.item.paire {
	background-color: #d2f7d9;
}

div.list div.item h2.block-title {
	font-family: 'Aladin', sans-serif;
	color: black;
}


div.list div.item.paire div.block-content ul li {
	list-style: none;
	float: left;
	color: black;
}

div.list div.item.impaire div.block-content ul li {
	list-style: none;
	float: left;
	color: black;
}

div.list div.item.paire div.block-content ul li strong {
	display: block;
	padding: 5px;
	background: @noir;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 15px;
}

div.list div.item.impaire div.block-content ul li strong {
	display: block;
	padding: 5px;
	background: @noir;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 15px;
}

/* Referencement */

ul.referencement li a { color: #c8c98d !important; }

div#conteneur-bas-partie-milieu {
	background-color: white;
}
div.referencement_container .block-R {
	background-color: #c1bec0;
}

div.referencement_container .block-title {
	padding-top: 20px;
	font-size: 16px;
	color: black;
	font-weight: bold;
}
div.referencement_container .block-content {
	font-size: 14px;
	color: black;
}
div.referencement_container .block-img {
	width : 400px;
	height : 200px;
	margin-left: -30px;	
}

